<html>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>Flask Sample</title>
   <script src="https://www.datadoghq-browser-agent.com/datadog-rum-v3.js" type="text/javascript">
   </script>
   <script>
      window.DD_RUM && window.DD_RUM.init({
         applicationId: 'xxx',
         clientToken: 'xxx',
         site: 'datadoghq.com',
         service: 'flask',
         // Specify a version number to identify the deployed version of your application in Datadog 
         // version: '1.0.0',
         sampleRate: 100,
         trackInteractions: true,
         allowedTracingOrigins: ["flask", /http:\/\/35\.74\.62\.42:8080/]
      });
      window.DD_RUM && window.DD_RUM.setUser({
         id: '1234',
         name: 'Jack Wang',
         email: 'jack.wang@datadoghq.com',
         plan: 'premium'
      });
   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script>
      $(document).ready(function () {
         $("#getdata").click(function () {
            $.ajax({
               url: "http://35.74.62.42:8080/test",
               success: function (result) {
                  $("#div1").html(result);
               }
            });
         });
         $('#longsql').click(function () {
            $.ajax({
               url: "http://35.74.62.42:8080/longsql",
               success: function (result) {
                  $("#div1").html(result);
               }
            });
         });
      });
   </script>
</head>

<body>
   <div id="div1">
      <h2>External call test</h2>
   </div>
   <button id="getdata">Get External Content</button>
   <button id='longsql' onclick=>Long SQL</button>
   <h3>
      <a href="{{ url_for('show_all') }}">Peoples - Flask
         SQLAlchemy sample created by jack</a>
   </h3>

   <hr />
   {%- for message in get_flashed_messages() %}
   {{ message }}
   {%- endfor %}

   <h3>People (<a href="{{ url_for('new') }}">Add
      </a>)</h3>

   <table>
      <thead>
         <tr>
            <th>name</th>
         </tr>
      </thead>

      <tbody>
         {% for people in peoples %}
         <tr>
            <td>{{ people.name }}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>

</body>

</html>